{% block type %}
  <header>
    <h1><a href="{{ post.short_url }}">{{ post.source_title }}</a></h1>
    <time>{{ post.date }}</time>
  </header>
  
  <p>
    {{ post.player }}
    <cite>{{ post.caption }}</cite>
  </p>
  
{% endblock %}