{% block type %}
  <header>
    <h1><a href="{{ post.short_url }}">{{ post.title }}</a></h1>
    <time>{{ post.date }}</time>
  </header>
  
  <p>
    {{ post.body }}
  </p>
  
  <ul>
    {% for dialogue in post.dialogue %}
    <li><span>{{ dialogue.label }}</span>{{ dialogue.phrase }}</li>
    {% endfor %}
  </ul>
{% endblock %}